/bin
/lib
*~
*.a
*.cache
*.DS_Store
*.egg-info
*.exe
*.gch
*.lib
*.o
*.pyc
*.so
*.swp
.eggs
.idea
Makefile
lib*.pc
.project
.python-version
.tox
.cproject
build
_build
CMakeLists.txt.user
/VersionInfo*.cmake
Testing
build_Debug_DOUBLE
build_Release_DOUBLE
build_Debug_DOUBLE
cmake-build-debug

# GA
!src/ga/Makefile
src/ga/test

# Examples
examples/*.xml
examples/*.log

examples/TUNE_FF/*.xvg
examples/TUNE_FF/*.log
examples/TUNE_FF/viewxvg.py
examples/TUNE_FF/#*
examples/TUNE_FF/*.dat
examples/TUNE_FF/run_alcohol_v2.py
examples/TUNE_FF/*.txt
examples/TUNE_FF/inds

# VS Code
.vscode
